/* PHIS3-Logo-White_Stroked.png */

jjakj

position: absolute;
width: 185.5px;
height: 80.5px;
left: 93px;
top: 260px;

background: url(.png), url(.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
